body{ 
   display: flex;
   flex-direction: column;
   gap:  3rem;
}

p{
    color: black;
    font-size: 50px;
}

.A{
    background-color: gray;
    grid-area: A;
}

.B{
    background-color: gray;
    grid-area: B;
}

.C{
    background-color: white;
    grid-area: C;
}

.D{
    background-color: gray;
    grid-area: D;
}

.E{
    background-color: gray;
    grid-area: E;
}

.F{
    background-color: steelblue;
    grid-area: F;
}

.G{
    background-color: gray;
    grid-area: G;
}

.H{
    background-color: steelblue;
    grid-area: H;
}

#secao1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "H C A B" "D E G F" ;
    border: solid black;
}

#secao2{
    display: grid;
    grid-template-areas: "H C C A" "F C C A" "F B D E";
    border: solid black;
}

#secao3{
    display: grid;
    grid-template-areas: "H C C A" "B C C A" "B D E F";
    border: solid black;
}

#secao4{
    display: grid;
    grid-template-areas: "H H H H" "B C C A" "B F F F";
    border: solid black;
}

